.carrousel-container {
    position: relative;
    max-width: 600px; /* Ajustez cette valeur selon vos besoins */
    margin: auto;
  }
  
  .carrousel-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .carrousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .carrousel-button img {
    width: 30px; /* Ajustez la taille des flèches selon vos besoins */
    height: 30px;
  }
  
  .carrousel-indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }